<nav class="nav">
  <ul>
    <li class="nav-list-item">
      <a class="nav-btn-sort">Sort <i class="arrow-down"></i></a>
      <ul class="nav-item sort-item">
        <li><a> Selection Sort</a></li>
        <li><a>Bubble Sort</a></li>
        <li><a>Insertion Sort</a></li>
        <li><a>Quick Sort</a></li>
      </ul>
    </li>
    <li class="nav-list-item">
      <a class="nav-btn-search">Search <i class="arrow-down"></i></a>
      <ul class="nav-item search-item">
        <li><a>Linear Search</a></li>
        <li><a>Binary Search</a></li>
        <li><a>Jump Search</a></li>
      </ul>
    </li>
    <li class="nav-list-item">
      <a class="nav-btn-path"> Path Finder <i class="arrow-down"></i> </a>
      <ul class="nav-item path-item">
        <li><a>Dijkstra</a></li>
        <li><a>A*</a></li>
      </ul>
    </li>
  </ul>
</nav>
